@font-face {
  font-family: 'FZHuangTJXSJF';
  src: url('./fonts/FZHuangTJXSJF.eot');
  /* IE9 */
  src:
    url('./fonts/FZHuangTJXSJF.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/FZHuangTJXSJF.woff') format('woff'),
    /* chrome、firefox */
      // url("./fonts/FZHuangTJXSJF.TTF") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
      url('./fonts/FZHuangTJXSJF.svg#FZHuangTJXSJF') format('svg');
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

.flat-font {
  font-family: 'FZHuangTJXSJF';
  font-weight: bold;
}
