@font-face {
  font-family: 'FZHuangTJXSJF';
  src: url('FZHuangTJXSJF.eot'); /* IE9 */
  src:
    url('FZHuangTJXSJF.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('FZHuangTJXSJF.woff') format('woff'),
    /* chrome、firefox */ url('FZHuangTJXSJF.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
      url('FZHuangTJXSJF.svg#FZHuangTJXSJF') format('svg'); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
